DJANGO_SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=django.db.backends.postgresql
DB_NAME=final_year_project
DB_USER=fyp_user
DB_PASSWORD=fyp_password
DB_HOST=127.0.0.1
DB_PORT=5432

# DenseNet121.pth location
ML_MODELS_DIR=/absolute/path/to/backend/ml_models